
@font-face {
    font-family: myFirstFont;
    src: url('fonts/futureforceslaser.ttf') format('truetype');
}

body{
    font-family: myFirstFont;
    margin: 0px;
    background-image: url("../img/space.jpg");
    overflow-x: hidden ; 
    overflow-y: hidden;
}

#title{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    margin: 40px 0px 30px 0px;   
}

#mainBody{
    height: auto;
    width: 85%;
    display: block;
    position: absolute;
    
}

#extendedElements{
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    height: 84vh;
    width: 90%;
    margin: 0px;
}

.filaBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 73px;
    grid-row-gap: 1px;
    position: relative;
}

@media screen and (min-width: 500px) {
    .filabody {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    .filaBody {
      grid-template-columns: 1fr 1fr ;
    }
  }


.bodyElement{
    height: auto;
    width: auto;
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    align-content: center;
}

.bodyElement img{
    height: auto;
    width: 80px;
    display: block;
    position: relative;
    top: 0px;
    left: 10px;
    border-radius: 100px;
}

h1{
    top: 60px;
    left: 40px;
    color: black;
    margin-bottom: 60px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(113, 195, 233);
    font-size: 4em;
    margin: 0px;
}

li{
    margin-bottom: 10px;
}

a{text-decoration: none;}

p{

    color: #D0E1F9;
 
    
}

#highestScore{
    position: relative;
    display: inline-block;
    height: 84vh;
    width: 100%;
}

#highestScore .puntajeTxt{
    position: relative;
    display: block;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-185px);
    margin: 0px;
}

#highestScore #playerTxt{
    position: relative;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,100px);
    margin: 0px;
}

#highestScore img{
    display: block;
    position: absolute;
    height: 250px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 130px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(0, 140, 255);
    transition-duration: 0.4s;
    display: inline-block;
    
}

#triangle-down:hover {

    border-top: 15px solid rgb(113, 195, 233) ;
    cursor: pointer;
}



#rightContainer{
    position: relative;
    display: block;
    float: right;
    height: 100vh;
    width: 15%;
}

#menuContainer{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    bottom: -440px;
    right: 15px;
}

.button{
    background-color: rgb(103, 112, 133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-50%);
    width: 200px;
}

.button:hover{
    background-color: rgb(25, 185, 177);
    cursor: pointer;
    color: white;
}

#showMore{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50%,245px);
}

.button2{
    display: inline-block;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    border: none;
    top: -6px;
    position: relative;
}

div .button2:hover{
    display: inline-block;
    background-color:  transparent;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.otherP, .otherN{
    display: block;
    position: relative;
    margin: 0px;
    font-size: 1.3em;

}

ul{
    list-style-type: none;
}

.otherP{
    top: -60px;
    right: -105px;
    
}

.otherN{
    top: -40px;
    right: -105px;
}