
@font-face {
    font-family: myFirstFont;
    src: url('fonts/futureforceslaser.ttf') format('truetype');
}

body{
    font-family: myFirstFont;
    margin: 0px;
    background-image: url("../img/space.jpg");
    

}

#title{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    margin: 40px 0px 0px 0px;   
}

#mainBody{
    height: auto;
    width: 85%;
    display: block;
    position: absolute;
    
}


.filaBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    position: relative;
    
}

@media screen and (min-width: 500px) {
    .filabody {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    .filaBody {
      grid-template-columns: 1fr 1fr ;
    }
  }


.bodyElement{
    height: auto;
    width: 260px;
    display: inline-block;
    position: relative;
    padding: 10px 25px 10px 25px;
    align-content: center;
    
}

.bodyElement img{
    height: auto;
    width: 260px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

h1{
    top: 60px;
    left: 40px;
    color: black;
    margin-bottom: 60px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(113, 195, 233);
    font-size: 4em;
    margin: 0px;
}


p{

    color: #D0E1F9;
 
    
}

#highestScore{
    position: relative;
    display: inline-block;
    height: 84vh;
    width: 100%;
}

#highestScore .puntajeTxt{
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px;
}

#highestScore #playerTxt{
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    margin: 0px;
}

#highestScore img{
    display: block;
    position: absolute;
    height: 250px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(0, 140, 255);
    transition-duration: 0.4s;
    
}

#triangle-down:hover {

    border-top: 100px solid rgb(113, 195, 233) ;
    cursor: pointer;
}

#extendedElements{
    overflow-y: scroll ;  
}

#rightContainer{
    position: relative;
    display: inline-block;
    float: right;
    height: 100vh;
    width: 15%;
}

#menuContainer{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    bottom: -440px;
    right: 15px;
}

.button{
    background-color: rgb(103, 112, 133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
}

.button:hover{
    background-color: rgb(25, 185, 177);
    cursor: pointer;
    color: white;
}

#showMore{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,100%);
}