body{
    background-image:none !important;
    background-color:rgba(150,150,150,0.3);;
}

#menuContainerP{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
}

h1{
    color: transparent;
}